body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    text-align: center;
    padding: 100px;
}
/* styles.css */
h1 {
    color: #ffffff; /* White color */
}


.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.timer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.timer span {
    margin: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}

.labels {
    font-size: 14px;
    margin-top: 10px;
}

